<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Feb15Chapter2Exercise/src/seniorstudent2/WeatherStationApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="seniorstudent2.WeatherStationApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Feb15Chapter2Exercise"/>
</launchConfiguration>
